/* screen - commercial */

.commercial {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.commercial .navbar {
  align-items: center;
  background-color: var(--white);
  display: inline-flex;
  gap: 40px;
  justify-content: flex-end;
  left: 1063px;
  position: absolute;
  top: 28px;
}

.commercial .frame-427318909 {
  background-image: url(../img/frame-427318909@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 81px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 145px;
}

.commercial .section {
  height: 478px;
  overflow: hidden;
  padding: 60px 170px;
}

.commercial .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 436px;
}

.commercial .title {
  line-height: 48px;
}

.commercial .image-container-1 {
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 348px;
  overflow: hidden;
  width: 590px;
}

.commercial .image-1 {
  background-color: var(--iron);
  height: 488px;
  margin-bottom: -70.00px;
  margin-left: -72.00px;
  margin-top: -70.00px;
  position: relative;
  width: 734px;
}

.commercial .screenshot-container {
  height: 348px;
  left: 72px;
  position: relative;
  top: 70px;
  width: 590px;
}

.commercial .screenshot-2025-02-24-at-202141-1 {
  height: 347px;
  left: 0;
  position: absolute;
  top: 0;
  width: 590px;
}

.commercial .screenshot-2025-03-07-at-101813-1 {
  height: 348px;
  left: 0;
  position: absolute;
  top: 0;
  width: 590px;
}

.commercial .vector-200 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 478px;
  width: 1440px;
}

.commercial .products {
  flex-direction: column;
  gap: 70px;
  height: 222px;
  padding: 80px 0px 0px;
}

.commercial .container-1 {
  align-items: center;
  display: flex;
  gap: 60px;
  height: 96px;
  justify-content: center;
  position: relative;
  width: 1100px;
}

.commercial .container-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.commercial .title-3 {
  line-height: 48px;
  text-align: center;
}

.commercial .description-1 {
  text-align: center;
}

.commercial .vector-200-1 {
  margin-left: -1533.00px;
  margin-top: -2477.00px;
  position: relative;
}

.commercial .products-1 {
  gap: 60px;
  height: 540px;
  justify-content: center;
  padding: 60px 170px;
}

.commercial .list {
  align-items: center;
  gap: 40px;
  height: 500px;
  justify-content: center;
  margin-bottom: -40.00px;
  margin-left: -105.00px;
  margin-right: -105.00px;
  margin-top: -40.00px;
  width: 1310px;
}

.commercial .row {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 80px;
  justify-content: center;
  position: relative;
}

.commercial .card {
  align-items: center;
  border: 1px solid;
  border-color: var(--black-2);
  border-radius: 6px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 420px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.commercial .image-container-2 {
  height: 340px;
  width: 340px;
}

.commercial .image {
  align-items: center;
  background-color: var(--iron);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.commercial .screenshot-2025-02-24-at-202840-1 {
  height: 340px;
  position: relative;
  width: 339.87px;
}

.commercial .text-content {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  position: relative;
  width: 340px;
}

.commercial .title-1 {
  line-height: 24px;
}

.commercial .subtitle {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 28px;
  position: relative;
}

.commercial .image-container {
  align-items: flex-start;
  display: flex;
  height: 340px;
  position: relative;
  width: 340px;
}

.commercial .screenshot-2025-02-24-at-20 {
  height: 340px;
  position: relative;
  width: 340px;
}

.commercial .vector-200-2 {
  left: 0;
  position: absolute;
  top: 540px;
}

.commercial .image-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--iron);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 292px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.commercial .screenshot-2025-03-06-at-164619-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 292px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.commercial .delivering-high-qual {
  height: 16px;
  left: 359px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 137px;
  white-space: nowrap;
  width: 722px;
}

.commercial .form {
  align-items: center;
  display: inline-flex;
  gap: 60px;
  height: 224px;
  justify-content: center;
  overflow: hidden;
  padding: 100px 170px;
  position: relative;
}

.commercial .container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: -36.00px;
  margin-top: -36.00px;
  position: relative;
  width: 520px;
}

.commercial .vector-200-3 {
  left: 0;
  position: absolute;
  top: 224px;
}

.commercial .list-1 {
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-bottom: -28.00px;
  margin-top: -28.00px;
  width: 520px;
}

.commercial .list-item {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: 80px;
  width: 100%;
}

.commercial .title-2 {
  line-height: 20px;
}

.commercial .section-1 {
  height: 146px;
  padding: 60px;
}

.commercial .container-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 60px;
  height: 100px;
  justify-content: center;
  margin-bottom: -37.00px;
  margin-top: -37.00px;
  position: relative;
}

.commercial .title-4 {
  line-height: 28px;
  text-align: center;
  width: 322px;
}

.commercial .title-5 {
  line-height: 28px;
  text-align: center;
  width: 124px;
}

.commercial .title-6 {
  line-height: 28px;
  text-align: center;
  width: 119px;
}

.commercial .description-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.commercial .image-container-3 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.commercial .list-2 {
  display: flex;
  position: relative;
}

.commercial .section-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 60px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.commercial .title-7 {
  align-self: stretch;
  letter-spacing: 0;
  margin-top: -1.00px;
  position: relative;
}

.commercial .vector-200-4 {
  height: 1px;
  object-fit: cover;
  width: 1440px;
}
